/* Reset default spacing */
body {
  margin: 0;
  height: 100vh;
  background-image: url("img.JPG");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}


@media (max-width: 768px) {
  .text-box {
    top: 65%;   /* move it lower */
    transform: translate(-50%, -50%);
  }
}

/* Main content box */

.text-box {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}


/* Winner Styles */

#Win1 {
    color: green;
}

#Win2 {
    color: red;
}

#Win3 {
    color: blue;
}


/* Responsive text */

h1 {
    font-size: clamp(24px, 6vw, 40px);
    margin-bottom: 5%;
}

p {
    font-size: clamp(16px, 4vw, 20px);

}


