body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;

    background-image: url("imgg.JPG");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;   /* pushes box lower */
    padding-top: 8vh;    /* spacing from bottom */
    
}

.text-box {
    background: rgba(255, 255, 255, 0.92);
    padding: 25px 30px;
    border-radius: 18px;
    width: 85%;
    max-width: 500px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* Winner colors */
#Win1 { color: green; }
#Win2 { color: red; }
#Win3 { color: blue; }

h1 {
    font-size: clamp(24px, 6vw, 40px);
    margin-bottom: 10px;
}

p {
    font-size: clamp(16px, 4vw, 20px);
}


